---
const name = 'Red';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Startpage</title>
  </head>
  <body
    class="flex h-screen items-center justify-center bg-zinc-900 text-gray-100"
  >
    <h1>Hello, {name}</h1>
  </body>
</html>
